.header {
    grid-area: h;
    background-color: green;
}
.header img {
    width: 40px;
    margin: 5px;
}
.loginBlock {
    float: right;
    margin: 5px;
}
.loginBlock a {
    color: white;
 }
.loginInfo .loginPhoto {
    border-radius: 50%;
    width: 30px;
}
.loginInfo {
    display: flex;
}