.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.item {

}

.dialogsItems {
    padding: 10px;
}
a{
    color: #deafc0;
    text-decoration: none;
    font-weight: 700;
}

.messages {
    padding: 10px;
}

.active {
    color: red;
    text-decoration: none;
    font-weight: 700;
}